<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>FitJourney</title>

<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href="css/style.css" rel="stylesheet">
<link href="css/menu.css" rel="stylesheet">
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" >
<link href="css/socialize-bookmarks.css" rel="stylesheet">
<link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css?v=2.1.4">
<link href="css/animate.css" rel="stylesheet">
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen">

<!-- Google web font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

<!-- Jquery -->
<script src="js/jquery.1.7.2.min.js"></script>


<!-- Vue Scripts -->
<script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js"></script>
<script src="https://unpkg.com/vue-router/dist/"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="index.js" defer></script>


</head>

<body>


<div id="vue-app">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button"data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul id="main-nav" class="sf-menu" >
            <li class="nav-item active">
                <a class="nav-link" href="/#/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" v-if="isLoggedIn()" >
                <a class="nav-link" href="/#/profile">My Profile</a>
            </li>
            <li class="nav-item" v-if="isLoggedIn()" >
                 <a class="nav-link" href="/#/meals">Meals</a>
            </li>
            <li class="nav-item" v-if="isLoggedIn()" >
                <a class="nav-link" href="/#/meals/create">Log A Meal</a>
            </li>
            <li class="nav-item" v-if="isLoggedIn()" >
                <a href="#">Calorie calculators</a>
                <ul>
                    <li><a href="daily-calorie-calculator.html">Daily calories</a></li>
                        <li><a href="calories-burned-heart-rate.html">Calories burned by heart rate</a></li>
                        <li><a href="calories-burned-calculator.html">Calories burned by activites</a></li>
                        <li><a href="bmi-calculator.html">BMI calculator</a></li>
                </ul>
            </li>
              <li class="nav-item" v-if="!isLoggedIn()" >
                <a class="nav-link" href="/#/login">Login</a>
              </li>
              <li class="nav-item" v-if="isLoggedIn()" >
                <a class="nav-link" href="/#/logout">Logout</a>
              </li>
              <li class="nav-item" v-if="!isLoggedIn()" >
                <a class="nav-link" href="/#/signup">Signup</a>
              </li>
            </ul>
          </div>
        </nav>
        <br>


    <div class="container">
        <router-view>
        <!-- template goes in here -->
        </router-view>
    </div>
</div>
        
    <div class="container">
        <div id="sub-head">
            <div class="flyIn">
                <h2>Calories Burned By Heart Rate</h2>
                <p>Burning more calories become easier with a better knowledge of the connection between the heart rate and the metabolism.</p>
            </div>
        </div>
            <h3 class="title">Please fill the form below</h3>
            <div class="row">
                <div class="col-md-6">
                    <form>
                        <div class="form-bg-1"><input type="text" class="form-control" name="Age" placeholder="Age (Years)"></div>
                        <div class="form-bg-2"><input type="text" class="form-control" name="Weight" placeholder="Weight"></div>
                        
                        <div class="form-bg-1">
                            <div class="styled-select">
                                <select class="form-control col-md-3" name="weight_select">
                                    <option value="pounds">By Pounds</option>
                                    <option value="kilo">By Kilo (KG)</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-bg-2" style="padding:18px 20px 18px 20px;">
                            <input type="radio" value="Male" name="Male" id="Male"><label for="Male" style="margin-right:30px;"><span></span>Male</label>
                            <input type="radio" value="Female" name="Female" id="Female"><label for="Female"><span></span>Female</label>
                        </div>
                        
                        <div class="form-bg-1"><input type="text" class="form-control" name="heartrate" placeholder="Heart Rate BPM"></div>
                        <div class="form-bg-2"><input type="text" class="form-control" name="duration" placeholder="Duration in minutes"></div>
                        <input type="hidden" name="calculator" value="adv_calculator"/>
                    </form>
                    <button id="selectBtn" class="button_medium add_top_30">Calculate</button>
                </div>
                
                <div class="col-md-5">
                	<div class="result">
                        <h2>Result for calorie burned</h2>
                        <div id="adv_calculator_value">0</div>
                    </div>   
                </div>
                
            </div><!-- End row -->
    </div>
            
 
 <div id="toTop">Back to Top</div>  



<!-- MENU JS -->    
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.js"></script>
<script src="js/supersubs.js"></script>
<script src="js/mobile-menu.js"></script>

<!-- OTHER JS -->    
<script src="js/placeholder.js"></script>
<script src="js/inview.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/functions.js"></script>

</body>
</html>